@model ML.Evento

@{
    ViewBag.Title = "FormsEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css">
<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: grey;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .highlighted-border {
        border: 2px solid #FF5733;
    }
</style>

<main class="vh-100 bg-image d-flex align-items-center">
    <div class="container h-100 d-flex align-items-center">
        <div class="row d-flex justify-content-center w-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card highlighted-border">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Registrar Evento</h2>

                        <form method="post">

                            <div data-mdb-input-init class="form-label mb-4">
                                @Html.LabelFor(model => model.Nombre, new { @class = "" })
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                            </div>

                            <div data-mdb-input-init class="form-label mb-4">
                                @Html.LabelFor(model => model.Ubicacion, new { @class = "" })
                                @Html.TextBoxFor(model => model.Ubicacion, new { @class = "form-control" })
                            </div>

                            <div data-mdb-input-init class="form-label mb-4">
                                @Html.LabelFor(model => model.Fecha, new { @class = "" })
                                @Html.EditorFor(model => model.Fecha, new { @htmlAttributes = new { @class = "form-control", @type = "date" } })
                            </div>


                            <div data-mdb-input-init class="form-label mb-4">
                                @Html.LabelFor(model => model.Costo, new { @class = "" })
                                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
                            </div>
                            <div data-mdb-input-init class="form-label mb-4">
                                @Html.LabelFor(model => model.TipoEvento, new { @class = "" })
                                @Html.DropDownListFor(model => model.TipoEvento.IdTipoEvento, new SelectList(Model.TipoEvento.TiposEventos, "IdTipoEvento", "Nombre"), "Selecciona una opcion", new { @class = "form-control", @required = "" })
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" data-mdb-button-init
                                        data-mdb-ripple-init class="btn btn-success btn-block btn-lg text-body">
                                    Registrar
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>