@model ML.Evento

@{
    ViewBag.Title = "FormsEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css">
<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: grey;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .highlighted-border {
        border: 2px solid #FF5733;
    }
</style>

<main class="vh-100 bg-image d-flex align-items-center">
    <div class="container h-100 d-flex align-items-center">
        <div class="row d-flex justify-content-center w-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card highlighted-border">
                    <div class="card-body p-12">

                        @Html.HiddenFor(model => model.IdEvento)

                        @if (Model.IdEvento != 0)
                        {
                            <h2 class="text-uppercase text-center mb-5 fw-bold">Actualizar Evento</h2>
                        }
                        else
                        {
                            <h2 class="text-uppercase text-center mb-5 fw-bold">Registrar Evento</h2>
                        }

                        <form method="post" class="d-flex flex-column align-items-center">

                            <div class="form-label mb-4 w-75">
                                @Html.LabelFor(model => model.Nombre, new { @class = "fw-bold" })
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @onkeyup = "SoloLetras(this,'lblNombre')" })
                                <label id="lblNombre" class="text-danger">@Html.ValidationMessageFor(model => model.Nombre)</label>
                            </div>

                            <div class="form-label mb-4 w-75">
                                @Html.LabelFor(model => model.Ubicacion, new { @class = "fw-bold" })
                                @Html.TextBoxFor(model => model.Ubicacion, new { @class = "form-control" })
                                <label id="lblUbicacion" class="text-danger">@Html.ValidationMessageFor(model => model.Ubicacion)</label>
                            </div>

                            <div class="form-label mb-4 w-75">
                                @Html.LabelFor(model => model.Fecha, new { @class = "fw-bold" })
                                @Html.EditorFor(model => model.Fecha, new { @htmlAttributes = new { @class = "form-control", @type = "date" } })
                            </div>

                            <div class="form-label mb-4 w-75">
                                @Html.LabelFor(model => model.Costo, new { @class = "fw-bold" })
                                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control", @onkeyup = "SoloNumeros(this,'lblCosto')" })
                                <label id="lblCosto" class="text-danger">@Html.ValidationMessageFor(model => model.Costo)</label>
                            </div>

                            <div class="form-label mb-4 w-75">
                                <label class="fw-bold">Tipo de Evento</label>
                                @Html.DropDownListFor(model => model.TipoEvento.IdTipoEvento, new SelectList(Model.TipoEvento.TiposEventos, "IdTipoEvento", "Nombre"), "Selecciona una opcion", new { @class = "form-control", @required = "" })
                            </div>

                            @if (Model.IdEvento != 0)
                            {
                                <div class="w-75">
                                    <hr width="100%" />
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-success fw-bold">Actualizar <i class="bi bi-pencil-square"></i></button>
                                        <a href="@Url.Action("GetAllEvento", "Evento")" class="btn btn-warning fw-bold">Regresar <i class="bi bi-arrow-return-left"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="w-75">
                                    <hr width="100%" />
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-success fw-bold">Agregar <i class="bi bi-check-lg"></i></button>
                                        <a href="@Url.Action("GetAllEvento", "Evento")" class="btn btn-warning fw-bold">Regresar <i class="bi bi-arrow-return-left"></i></a>
                                    </div>
                                </div>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

<script>
    function SoloLetras(input, label) {
        var valor = $(input).val();
        var regex = /^[a-zA-Z ]+$/
        if (valor == "") {
            $(input).removeClass('is-invalid');
            $('#' + label).text("");
        } else {
            if (regex.test(valor)) {
                $(input).removeClass('is-invalid');
                $('#' + label).text("");
            }
            else {
                $(input).addClass('is-invalid');
                $('#' + label).text("Solo puedes ingresar letras");
                valor = valor.substring(0, valor.length - 1);
                $(input).val(valor);
            }
        }
    }
    function SoloNumeros(input, label) {
        var valor = $(input).val();
        var regex = /^[0-9,$]*$/
        if (valor == "") {
            $(input).removeClass('is-invalid');
            $('#' + label).text("");
        } else {
            if (regex.test(valor)) {
                $(input).removeClass('is-invalid');
                $('#' + label).text("");
            }
            else {
                $(input).addClass('is-invalid');
                $('#' + label).text("Solo puedes ingresar numeros");
                valor = valor.substring(0, valor.length - 1);
                $(input).val(valor);
            }
        }
    }
</script>